// Glob - Type Functions & Mixins
// ================================

// Tweaked functions from https://github.com/ultimate-package/tools.font-scale
@function font-feature($feature, $family:$font-default, $set: 'base'){
    $result: map-get(map-get($family, $set), $feature);
    @return ($result * 1px);
}

@function font-family($family) {
    $result: map-get($family, font-family);
    @return unquote($result);
}

@function calc-font-size($set, $family:$font-default) {
    @return font-feature(font-size, $family, $set);
}

@function calc-line-height($set, $family:$font-default) {
    @return font-feature(line-height, $family,  $set);
}

@mixin font-scale ($font-size, $family:$font-default, $line-height:$font-size) {
    font-size: calc-font-size($font-size, $family);
    line-height: calc-line-height($line-height, $family);
    @if $family != $font-default {
        font-family: font-family($family);
    }
}

// Store your type settings inside a 'fonts' variables
// --------------------------------------------------

$font-helvetica: (
  font-family: 'Helvetica, sans-serif',

  base: (
    font-size: 18,
    line-height: 22
  ),

  large: (
    font-size: 36,
    line-height: 42
  ),
);

// Make sure to create a fallback typeface variable
$font-default: $font-helvetica;
